.friend {
  border-radius: 12px;
  margin-bottom: 20px;
  width: 100%;
}

.friend img {
  border-radius: 12px;
  object-fit: cover;
}

.friend-name {
  font-weight: 500;
  color: var(--dblue);
  margin-left: 40px;
}
